version: '3.8'
services:
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "80:3000"
    environment:
      - VITE_API_URL=${VITE_API_URL}
    depends_on:
      - backend
  backend:
    image: backend:latest
    environment:
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "3001:3001"
